.bpagetitle{
    justify-content: center;
    margin-top: 90px;
    display: flex;
    font-size: 4.3rem;
    font-family: 'Marcellus', serif;
 text-transform: uppercase;
margin-bottom: 90px;
    font-weight: lighter;
}

.blogpage{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1);
}






.blogpost h2{
 color: gray;
 font-weight: normal;
 font-size: 1rem;
 margin-top: 40px;
 margin-bottom: 30px;
font-family: 'Jost', sans-serif;
text-transform: uppercase;
}

.blogpost h1{
    font-size: 3.59rem;
    font-family: 'Marcellus', serif;
 text-transform: uppercase;
 letter-spacing: 1px;
 width: 900px;
    font-weight: lighter;
}






.blogpost p{
font-family: 'Jost', sans-serif;
color: gray;
font-weight: normal;
font-size: 1.1rem;
width: 900px;
letter-spacing: 1px;
margin-top: 30px;
margin-bottom: 80px;
}

  .blogpost {
    
    max-width: 850px;    
  }
  .blogpost img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px; 
    height: auto;


  }